@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll */
.ESS::-webkit-scrollbar {
  width: 5px; /* عرض السكروول */
}

.ESS::-webkit-scrollbar-track {
  background: transparent; /* خلفية التراك */
  border-radius: 8px;
}

.ESS::-webkit-scrollbar-thumb {
  background: #666; /* لون متدرج */
  border-radius: 8px;
}

.ESS::-webkit-scrollbar-thumb:hover {
  background: #888; /* عند الهوفر */
}



/* Light mode scrollbar */
@media (prefers-color-scheme: light) {
  .ESS::-webkit-scrollbar {
    width: 5px; /* ممكن تغير الحجم لو تحب */
  }
  .ESS::-webkit-scrollbar-track {
    background: white; /* خلفية فاتحة */
    border-radius: 8px;
  }
  .ESS::-webkit-scrollbar-thumb {
    background: #aaa; /* لون السكروول */
    border-radius: 8px;
  }
  .ESS::-webkit-scrollbar-thumb:hover {
    background: #888; /* عند الهوفر */
  }
}